boto3==1.43.93
botocore==1.43.93
certifi==2026.7.22
charset-normalizer==3.5.1
idna==3.19
jmespath==1.1.0
kafka-python==3.0.11
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
requests==2.34.2
s3transfer==0.19.2
six==1.17.0
urllib3==2.7.0
websockets==16.1.1
